* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 15vw 1fr;
  height: 100vh;
}

.sidenav {
  text-decoration: none;
  text-align: center;
  background-color: blue;
}

.iplist a {
  margin: 5%;
  padding: 3px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 1.5em;
  background-color: grey;
  display: block;
}
.titleLayout {
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleLayout > a {
  text-decoration: none;
}

.ip-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: grey;
  margin: 5px;
  padding: 8px 12px;
  border-radius: 20px;
  gap: 5px;
}

.ip-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
}

.delete-button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

#options {
  text-decoration: none;
  background-color: grey;
  font-size: 32px;
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}

#options > a {
  text-decoration: none;
}
